/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 22 de nov. de 2023, 10:03:42
    Author     : rcosta
*/
.quadrado-vermelho {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 105vh;
    background-color: #BEE1E7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
}



.formulario {
    margin: 0 auto;
    width: 50%;
    top: 0;
    max-width: 400px;
    position: absolute;
    left: 55%;
    text-align: center;
    align-items: center;
}

.formulario h2 {
    color: #05568b;
    font-size: 30px;
    font-weight: 200;
}

.formulario h3 {
    color: #333;
    font-size: 20px;
}

.formulario p, .formulario a {
    color: #777777;
    margin-bottom: 20px;
}

.formulario .input-container {
    text-align: left;
    margin-bottom: 20px;
}

.formulario .input-container label {
    display: block;
    color: #000000;
    font-weight: 100;
    text-align: left;
}

.formulario .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 13px;
    text-align: left;
}

.formulario .input-containe {
    text-align: left;
    margin-bottom: 20px;
}

.formulario .input-containe label {
    display: block;
    color: #000000;
    font-weight: 100;
    text-align: left;
}

.formulario .input-containe input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 13px;
    text-align: left;
}

.formulario .entrar {
    background-color: #BEE1E7;
    color: #000000;
    border: none;
    padding: 11.5px 140px;
    border-radius: 13px;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
}

/* Adicione esta parte ao seu CSS existente */

.formulario .input-container-group {
    display: flex;
    justify-content: space-between;
}

.formulario .input-container {
    width: 40%; /* Ajuste conforme necessário para deixar algum espaço entre os campos */
}

@media (max-width: 768px) {
    .formulario .input-container-group {
        flex-direction: column;
    }
}


